
// Fonts
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:100,200,300,400,500,600,700,800,900");

@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

@import "~bootstrap/scss/bootstrap";

// Variables
@import "variables";

body {
  padding-top: 100px ;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 300;
}

.navbar.fixed-top {
  min-height: 100px;
  background-color: #FFF;

  .navbar-brand {
    width: 300px;
  }
}

.btn-primary {
  background-color: $blue;
  @extend .text-white;

  &:hover {
    background-color: $blue-hover;
  }
}

.btn {
  @extend .rounded-0;
  @extend .border-0;
}

a,.btn-link {
  color: $blue;

  &:hover {
    color: $blue-hover;
  }
}

.form-control, a:active, a:focus {
  box-shadow: none !important;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header-home {
  @extend .bg-cover;
  background-image: url(/img/header.jpg);
  height: 800px;
  background-position: top center;

  h1 {
    max-width: 75%;
    font-size: 3rem;
    font-weight: 100;
    color: $blue;
  }
}



@media screen and (max-width: 992px) {
  #header-home {
    height: 500px;

    h1 {
      font-size: 2rem;
    }
  }

  .navbar.fixed-top {
    .navbar-brand {
      width: 200px;
    }
  }
}
