
// Fonts
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:100,200,300,400,500,600,700,800,900");

@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

@import "~bootstrap/scss/bootstrap";

// Variables
@import "variables";

html, body {
  min-height: 100%;
}

body {
  padding-top: 100px ;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 300;

  &#admin {
    padding-top: 0;
  }
}

.navbar.fixed-top {
  min-height: 100px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

  .navbar-brand {
    width: 300px;
  }
}

.bg-primary {
  background-color: $blue;
}

.border-primary {
    border-color: $blue !important;
}

.btn-primary {
  background-color: $blue;
  @extend .text-white;

  &:hover {
    background-color: $blue-hover;
  }
}

.btn-danger {
  background-color: $red;
  @extend .text-white;

  &:hover {
    background-color: $red-hover;
  }
}

.btn {
  @extend .rounded-0;
  @extend .border-0;
}

a,.btn-link {
  color: $blue;

  &:hover {
    color: $blue-hover;
  }
}

h1 {
  font-size: 3.2rem;
  font-weight: 100;
  padding: 3rem 0 2rem;
  margin: 0;
}

h2 {
  color: $blue;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
}

.form-control, a:active, a:focus {
  box-shadow: none !important;
}

#alert-message {
  position: fixed;
  top: 10%;
  z-index: 9999;
  right: 0;
  left: 0;
  width: 500px;
  margin: auto;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header-home {
  @extend .bg-cover; 
  background-image: url(/img/header.jpg);
  height: 700px;
  background-position: top center;

  h1 {
    max-width: 75%;
    font-size: 3rem;
    font-weight: 100;
    color: $blue;
  }
}

#component-homepage {
  #offers_list {
    .description-offer {
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}

.mixitup-control-active {
  background-color: $blue;
  @extend .text-white;

  &:hover {
    background-color: $blue-hover;
  }
}

#component-offers-list {
  #offers_list {
    overflow: hidden;
    .description-offer {
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}

.offer {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);

  .img-offer {
    overflow: hidden;

    img {
      transition: all 0.2s ease-in;
      object-fit: cover;
      height: 200px;
    }
  }

  &:hover {
    .img-offer {
      img {
        transform: scale(1.4) rotate(-5deg);
      }
    }
  }
}


#footer {
  a {
    color: #FFF;
    position: relative;

    &:hover {
      text-decoration: none;
    }
  }

  .footer-menu1, .footer-menu2 {
    a {
      color: #FFF;
      position: relative;

      &:hover {
        text-decoration: none;

        &:before {
          content: "- ";
        }
      }
    }
  }

  .footer-social {
    ul {
      li {
        margin: 5px 0;
      }
    }
  }

  .social-icons {
    a {
      font-size: 1.2rem;
    }
  }
}

.has-error {
  border-color: $danger;
}

// Admin


#admin .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#admin .sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

#admin .sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

#admin .sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

#admin .sidebar .nav-link.active {
  color: #007bff;
}

#admin .sidebar .nav-link:hover .feather,
#admin .sidebar .nav-link.active .feather {
  color: inherit;
}

#admin .sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#admin .sidebar {
    .sidebar-sticky {
        height: 100vh;

        .nav {
            img {
                width: 300px;
            }
            li.nav-item {
                &:hover {
                    background-color: $grey;
                }
            }
        }
    }
}



@media screen and (max-width: 992px) {
  #header-home {
    height: 500px;

    h1 {
      font-size: 2rem;
    }
  }

  .navbar.fixed-top {
    .navbar-brand {
      width: 200px;
    }
  }

  #admin {
      .sidebar {
          .sidebar-sticky {
              height: auto;
          }
      }
  }
}
